@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.content {
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.rotulo {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
}

#destinos_div {
  anchor-name: --destinos;
  position: relative;
}

#pop_destinos {
  position: absolute;
  position-anchor: --destinos;
  position-area: bottom span-right;
  z-index: 1;
  margin-top: 8.5rem;
}

#fechas {
  anchor-name: --fechas;
  position: relative;
}

#pop_fechas {
  position: absolute;
  position-anchor: --fechas;
  position-area: bottom center;
  z-index: 1;
  margin-top: 8.5rem;
}

#huespedes_div {
  anchor-name: --huespedes;
  position: relative;
}

#pop_cuantos {
  position: absolute;
  position-anchor: --huespedes;
  position-area: bottom span-left;
  z-index: 1;
  margin-top: 8.5rem;
}